@import url("https://fonts.googleapis.com/css2?family=Inter+Tight:wght@300;400;500&display=swap");

body {
  margin: 0 !important;
  padding: 0 !important;
  box-sizing: border-box;
}

.parameter {
  margin: 15px;
  width: 200px;
  text-align: center;
}

.parameters {
  padding: 0 100px;
  font-size: 21px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  font-family: "Inter Tight", sans-serif;
  font-weight: 300 !important;
  letter-spacing: 0.6px;
}

.theme {
  width: 24px;
  height: 24px;
  border: 3px solid #000;
  border-radius: 50%;
}
