@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;400;500;600&display=swap");

:root {
  /* board */
  --background: #fff;
  --board-color: #e1e1e1;
  --tile-color: #efefef;
  --food-color: #c4c40a;
  --snake-color: #444444;
  --text-color: #000;

  /* bombs */
  --bomb-color: #000;
}

body {
  margin: 0 !important;
  padding: 0 !important;
  box-sizing: border-box;
  background: var(--background);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
}

.parameter {
  font-family: "DM Sans", sans-serif;
  /* font-weight: 500; */
  letter-spacing: -0.2px;
  margin: 15px;
  width: 200px;
  text-align: center;
}

.parameters {
  padding: 0 100px;
  font-size: 21px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  font-weight: 300 !important;
  font-family: "Segoe UI", sans-serif;
  letter-spacing: -1.2px;
  letter-spacing: 0.6px;
  /* background: #f00; */
}

.theme {
  width: 21px;
  height: 21px;
  border: 4px solid #000000;
  border-radius: 50%;
  background: var(--i);
  cursor: pointer;
  position: relative;
}

.sound {
  /* background: #f00; */
  font-size: 50px;
  position: fixed;
  bottom: 24px;
  right: 32px;
  cursor: pointer;
  padding: 15px 7.5px;
  transition: 0.1s;
  border-radius: 4px;
}

.sound:hover {
  background: #f3f3f3;
}

.sound--muted::before {
  content: "";
  display: block;
  width: 110%;
  height: 4px;
  border-radius: 7px;
  background: rgb(255, 0, 0);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
}

/* .sound--muted::before {
  content: "";
  width: 50px;
  height: 4px;
  color: #f00;
  position: absolute;
  top: 0;
  left: 0;
} */

.game-box {
  position: relative;
  margin: 35px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  flex-wrap: wrap;
}

.gameboard {
  position: relative;
  width: 450px;
  height: 450px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  background: var(--board-color);
}

.themes {
  padding: 15px 0;
  /* background: #00f; */
  height: calc(100% - 30px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.controls {
  width: calc(3px + 75px + 3px + 75px + 3px + 75px + 3px);
  height: 225px;
  position: fixed;
  bottom: 0;
  left: 0;
  transform: scale(0.75);
}

.control {
  width: 72px;
  height: 97px;
  border: 7px solid #000;
  font-size: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  cursor: pointer;
}

.control--top {
  position: absolute;
  top: 0;
  left: calc(7px + 75px + 7px);
}

.control--bottom {
  transform: rotate(180deg);
  position: absolute;
  bottom: 0;
  left: calc(7px + 75px + 7px);
}

.control--right i {
  transform: rotate(90deg);
}

.control--right {
  position: absolute;
  bottom: 0;
  left: calc(7px + 75px + 7px + 75px + 7px + 7px);
}

.control--left i {
  transform: rotate(-90deg);
}

.control--left {
  position: absolute;
  bottom: 0;
  left: 0;
}

.control--pressed {
  background: #000;
  color: #fff;
}

.tile {
  background: var(--tile-color);
  margin: 1px;
}

.tile--snake {
  background: var(--snake-color);
}

.tile--snake--removed {
  background: #f00;
}

.tile--food {
  background: var(--food-color);
}

.tile--boost {
  background-size: cover;
  background-repeat: no-repeat;
}

.tile--snake-added-point {
  background: #0bcf05;
}

.tile--snake-subtracted-point {
  background: #c20d0d;
}

.tile--bomb {
  background-color: var(--bomb-color);
}

.parameter-speed--acceleration {
  animation: speed-acceleration 1s;
  animation-timing-function: step-start;
}

.game-over {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
  background: rgba(48, 48, 48, 0.416);
  backdrop-filter: blur(10px);
  display: none;
  align-items: center;
  justify-content: center;
}

.container {
  position: relative;
  width: 270px;
  height: 410px;
  background: rgba(80, 80, 80, 0.632);
  border-radius: 15px;
  display: none;
  flex-direction: column;
  transform: scale(0.9);
  opacity: 0;
  animation: item-in 0.1s ease-in forwards;
}

.play-again {
  position: absolute;
  bottom: 12px;
  left: 12px;
  width: calc(100% - 24px);
  padding: 6px 0;
  font-size: 14px;
  border-radius: 3px;
  border: none;
  background: #000;
  color: #fff;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  letter-spacing: -0.15px;
  cursor: pointer;
  transition: 0.25s;
  opacity: 0;
  animation: item-in 0.1s ease-in 0.7s forwards;
}

.play-again:hover {
  background: #292929;
}

.gameover-header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  margin-top: 12px;
  color: #f18989;
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  /* background: #f00; */
  opacity: 0;
  animation: item-in 0.1s ease-in 0.1s forwards;
  padding-top: 10px;
}

.gameover-title {
  font-size: 28px;
  letter-spacing: -0.2px;
  margin: 0 !important;
}

.gameover-icon {
  font-size: 20px;
}

.statistics-header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  /* background: #0f0; */
  gap: 6px;
  font-family: "Inter", sans-serif;
  letter-spacing: -0.25px;
  font-size: 18px;
  color: #f4f4f4;
  opacity: 0;
  animation: item-in 0.1s ease-in 0.1s forwards;
}

.statistics {
  margin-top: 5px;
  margin-left: 12px;
  padding: 0;
}

.label {
  margin: 0;
}

.statistic {
  margin-top: 2px;
  margin-bottom: 5px;
  min-width: 100px;

  flex-shrink: 0;
  font-family: "Inter", sans-serif;
  font-size: 13px;
  padding: 6px 5px;
  border-radius: 3px;
  margin-right: 5px;
  text-align: center;
  cursor: default;
  background: #212121;
  color: #d5d5d5;
  font-weight: 500;
  opacity: 0;
  position: relative;
}

.statistic:nth-child(1) {
  animation: item-in 0.1s ease-in calc(0.15s + 1 * 0.05s) forwards;
}
.statistic:nth-child(2) {
  animation: item-in 0.1s ease-in calc(0.15s + 2 * 0.05s) forwards;
}
.statistic:nth-child(3) {
  animation: item-in 0.1s ease-in calc(0.15s + 3 * 0.05s) forwards;
}
.statistic:nth-child(4) {
  animation: item-in 0.1s ease-in calc(0.15s + 4 * 0.05s) forwards;
}
.statistic:nth-child(5) {
  animation: item-in 0.1s ease-in calc(0.15s + 5 * 0.05s) forwards;
}

.statistic:first-child {
  margin-left: 2px;
  background: rgb(92, 10, 131);
  background: linear-gradient(
    138deg,
    rgba(92, 10, 131, 1) 0%,
    rgba(128, 11, 11, 1) 100%
  );
}

.all-statistics {
  /* background: #00f; */
  margin-top: 3px;
  width: calc(100% - 12px);
  overflow-x: scroll;
  display: flex;
}

.position-container {
  /* background: #f00; */
  margin: 0 12px;
  margin-top: 8px;
  display: flex;
  gap: 12px;
  align-items: center;
  justify-content: center;
}

.position-label {
  font-family: "Inter", sans-serif;
  font-size: 15px;
  color: #e4e4e4;
  /* background: #0f0; */
  width: 170px;
  text-align: center;
  opacity: 0;
  animation: item-in 0.1s ease-in 0.4s forwards;
}

.position--highlight {
  color: #c9b626;
}

.trophy {
  width: 65px;
  /* background: #00f; */
  opacity: 0;
  animation: item-in 0.1s ease-in 0.35s forwards;
}

.gameover-form {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
  margin-top: 60px;
  margin-left: 12px;
  margin-right: 12px;
}

.player-profile {
  position: relative;
  width: 42px;
  height: 42px;
  overflow: hidden;
  border-radius: 50%;
  border: 3px solid #e4e4e4;
  cursor: pointer;
  opacity: 0;
  animation: item-in 0.1s ease-in 0.45s forwards;
}

.profile-img {
  width: 100%;
}

.player-profile:hover .overlay {
  opacity: 1;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(39, 39, 39, 0.626);
  backdrop-filter: blur(7px);
  color: #afafaf;
  transition: 0.1s;
  opacity: 0;
}

.username {
  opacity: 0;
  animation: item-in 0.1s ease-in 0.5s forwards;
}

.message {
  opacity: 0;
  animation: item-in 0.1s ease-in 0.55s forwards;
}

.form-input {
  width: 160px;
  overflow: hidden;
  border: none;
  background: transparent;
  outline: none;
  color: #e4e4e4;
}

[data-username-input] {
  font-size: 19px;
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  letter-spacing: -0.2px;
}

[data-username-input]::placeholder {
  color: #dbdbdb;
}

.pencil {
  color: #e3e3e3;
  cursor: pointer;
}

.pencil:hover {
  color: #d2d2d2;
}

.share-btn {
  width: 100%;
  margin-top: 8px;
  padding: 3px 0;
  outline: none;
  border: none;
  background: #0e98c2;
  color: #ebebeb;
  border-radius: 3px;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  letter-spacing: -0.35px;
  cursor: pointer;
  transition: 0.1s;
  opacity: 0;
  animation: item-in 0.1s ease-in 0.6s forwards;
}

.share-btn:hover {
  background: #0f83a3;
}

.message {
  color: #b4b4b4;
}

[data-message-input] {
  font-family: "Inter", sans-serif;
  letter-spacing: -0.45px;
  color: #b4b4b4;
}

[data-message-input]::placeholder {
  color: #b4b4b4;
}

@keyframes item-in {
  0% {
    transform: scale(0.9);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.leaderboard {
  width: 320px;
  height: calc(450px - 8px);
  border-radius: 10px;
  border: 4px solid #dbdbdb;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.leaderboard::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(50, 50, 50, 0.505);
  z-index: 0;
}

.leaderboard-snake {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 200px;
}

.leaderboard-header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 35px;
  padding: 0 15px;
  height: 65px;
  z-index: 1;
}

.leaderboard-title {
  margin: 0;
  font-size: 25px;
  color: #6ae561;
  font-family: "DM Sans", sans-serif;
  letter-spacing: 0.3px;
}

.leaderboard-title--highlighted {
  color: #14820f;
}

.leaderboard-subtitle {
  color: #f3f3f3;
  font-size: 17px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  letter-spacing: 0.3px;
}

.leaderboard-top {
  z-index: 1;
  /* background: #f00; */
  height: 315px;
  width: 95%;
  margin: 0 auto;
  overflow-y: scroll;
  overflow-x: hidden;
}

.leaderboard-record:first-child .leaderboard-position,
.leaderboard-record:nth-child(2) .leaderboard-position,
.leaderboard-record:nth-child(3) .leaderboard-position {
  display: none;
}

.leaderboard-record:nth-child(3) .leaderboard-username {
  color: #c2c2c2;
}

.leaderboard-record:nth-child(3) .leaderboard-message {
  color: #9c9c9c;
}

.leaderboard-position {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 18px;
  color: #d8d8d8;
  font-family: "DM Sans", sans-serif;
  font-weight: 600;
}

.leaderboard-record-trophy {
  position: relative;
  /* background: #f00; */
}

.leaderboard-trophy-img {
  width: 50px;
}

.leaderboard-profile-img {
  width: 28px;
  border-radius: 50%;
  /* border: 2px solid #dbdbdb; */
}

.leaderboard-last-records {
  position: absolute;
  bottom: 5px;
  left: 0;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  z-index: 1;
  gap: 10px;
}

.leaderboard-last-records-title {
  font-size: 15px;
  color: #e3e3e3;
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  letter-spacing: -0.1px;
}

.leaderboard-selection {
  padding: 8px;
  outline: none;
  border: none;
  border-radius: 5px;
  background: #323232;
  color: #bebebe;
  font-family: "Inter", sans-serif;
  font-weight: 400;
}

.leaderboard-record {
  background: rgba(232, 232, 232, 0.824);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 8px;
  border-radius: 10px;
  gap: 8px;
  padding: 8px;
  margin-top: 0;
  opacity: 0;
  transform: scale(0.9);
  animation: item-in 0.2s ease-in var(--record-animation-delay) forwards;
}

.leaderboard-record:first-child {
  background: #e6c34fce;
}

.leaderboard-record:nth-child(2) {
  background: #f4f4f4a4;
}

.leaderboard-record:nth-child(3) {
  background: #511d1dc7;
}

.leaderboard-profile {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 5px;
  letter-spacing: -0.15px;
}

.leaderboard-username {
  font-size: 16px;
  font-family: "DM Sans", sans-serif;
  font-weight: 600;
  margin: 0;
  overflow-wrap: break-word;
  width: 175px;
  /* background: #0f0; */
}

.leaderboard-message {
  /* background: #f00; */
  margin-top: 5px;
  display: flex;
  align-items: flex-start;
  justify-self: flex-start;
  gap: 5px;
  color: #626262;
  font-size: 14px;
}

.leaderboard-message-content {
  font-family: "Inter", sans-serif;
  margin: 0;
  overflow-wrap: break-word;
  /* background: #f00; */
  width: 180px;
}

.leaderboard-statistics {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  /* background: #0f0; */
  margin-top: 5px;
  font-family: "DM Sans", sans-serif;
  font-size: 12px;
  letter-spacing: -0.5px;
  font-weight: 600;
  color: #db4343;
}

.leaderboard-statistic {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 4px;
}

.statistic-icon {
  margin-right: 1.5px;
}

.leaderboard-info {
  /* background: #00f; */
  width: 225px;
}

/* <div
        class="leaderboard"
        style="background-image: url('./assets/leaderboard-pattern.png')"
      >
        <img src="./assets/snake.png" alt="wąż" class="leaderboard-snake" />

        <header class="leaderboard-header">
          <h1 class="leaderboard-title">
            Snake<span class="leaderboard-title--highlighted">JS</span>
          </h1>
          <h2 class="leaderboard-subtitle">Ranking graczy</h2>
        </header>

        <section class="leaderboard-top">
          <div class="leaderboard-record">
            <div class="leaderboard-record-trophy">
              <img src="" alt="" class="leaderboard-trophy-img" /><img
                src=""
                alt=""
                class="leaderboard-position"
              />
            </div>
            <div class="leaderboard-info">
              <div class="leaderboard-profile">
                <img src="" alt="" class="leaderboard-profile-img" />
              </div>
              <i class="leaderboard-icon-message"></i>
              <h5 class="leaderboard-message"></h5>
              <div class="leaderboard-statistics">
                <div class="leaderboard-statistic"></div>
                <div class="leaderboard-statistic"></div>
                <div class="leaderboard-statistic"></div>
                <div class="leaderboard-statistic"></div>
              </div>
            </div>
          </div>
          <div class="leaderboard-record">
            <div class="leaderboard-record-trophy">
              <img src="" alt="" class="leaderboard-trophy-img" /><img
                src=""
                alt=""
                class="leaderboard-position"
              />
            </div>
            <div class="leaderboard-info">
              <div class="leaderboard-profile">
                <img src="" alt="" class="leaderboard-profile-img" />
              </div>
              <i class="leaderboard-icon-message"></i>
              <h5 class="leaderboard-message"></h5>
              <div class="leaderboard-statistics">
                <div class="leaderboard-statistic"></div>
                <div class="leaderboard-statistic"></div>
                <div class="leaderboard-statistic"></div>
                <div class="leaderboard-statistic"></div>
              </div>
            </div>
          </div>
          <div class="leaderboard-record">
            <div class="leaderboard-record-trophy">
              <img src="" alt="" class="leaderboard-trophy-img" /><img
                src=""
                alt=""
                class="leaderboard-position"
              />
            </div>
            <div class="leaderboard-info">
              <div class="leaderboard-profile">
                <img src="" alt="" class="leaderboard-profile-img" />
              </div>
              <i class="leaderboard-icon-message"></i>
              <h5 class="leaderboard-message"></h5>
              <div class="leaderboard-statistics">
                <div class="leaderboard-statistic"></div>
                <div class="leaderboard-statistic"></div>
                <div class="leaderboard-statistic"></div>
                <div class="leaderboard-statistic"></div>
              </div>
            </div>
          </div>
          <div class="leaderboard-record">
            <div class="leaderboard-record-trophy">
              <img src="" alt="" class="leaderboard-trophy-img" /><img
                src=""
                alt=""
                class="leaderboard-position"
              />
            </div>
            <div class="leaderboard-info">
              <div class="leaderboard-profile">
                <img src="" alt="" class="leaderboard-profile-img" />
              </div>
              <i class="leaderboard-icon-message"></i>
              <h5 class="leaderboard-message"></h5>
              <div class="leaderboard-statistics">
                <div class="leaderboard-statistic"></div>
                <div class="leaderboard-statistic"></div>
                <div class="leaderboard-statistic"></div>
                <div class="leaderboard-statistic"></div>
              </div>
            </div>
          </div>
        </section>
      </div> */

/* width */
::-webkit-scrollbar {
  width: 4px;
  height: 2px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #818181;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #484848;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #212121;
}

@keyframes speed-acceleration {
  0% {
    color: #41d734;
  }
  20% {
    color: #000000;
  }
  40% {
    color: #41d734;
  }
  60% {
    color: #000000;
  }
  80% {
    color: #41d734;
  }
  100% {
    color: #000000;
  }
}
